@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey-bg: #F2F2F2;
    --dark-grey-bg: #cacaca;
}

body {
    margin: 0;
    padding: 0 60px;
    font-family: 'Raleway', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}
/* ------------------------------------------ */
/* Header styling */
/* ------------------------------------------ */
header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 50px;
    padding-top: 40px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    width : 370px;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding-top:50px;
    font-size: 1em;
    
}

.nav__anchor {
    padding: 50px 20px 0 20px;
}

.nav__anchor:hover {
    color: var(--blue);
    border-top: var(--blue) 2px solid;
}

.nav__subscribe {
    color: var(--blue);
    font-weight: 700;
    padding-left: 20px;
}

/* ------------------------------------------ */
/* Location section styling */
/* ------------------------------------------ */
.location {
    margin-top: 40px;
}

.location h1 {
    font-size: 1.4em;
    margin: 0;
}

.location p {
    margin-top: 10px;
}

.location__search {
    display: flex;
    height: 50px;
    margin-top: 20px;
}

.location__search__icon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    background: var(--grey-bg);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__search__icon i {
    font-size: 1.1em;
}

.location__search__input {
    border: 1px solid var(--grey-bg);
    width: 200px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px; 
}

.location__search__input:focus {
    outline: none;
}

.location__search__button {
    background: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: 600;
    font-size: 1.1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.location__search__button p {
    margin: 0;
}

/* ------------------------------------------ */
/* Filters section styling */
/* ------------------------------------------ */

.filters {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
}

.filters p {
    font-size: 1.1em;
    font-weight: 700;
    margin: 13px 20px 13px 10px;
}

.filters__filtres {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 10px 0;
}

.filters__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-grey-bg);
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.filters__button:hover {
    color: white;
    background: var(--blue);
    border-color: var(--blue);
}

.filters__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background: var(--light-blue);
    height: 101%;
    width: 47px;
    border-radius: 60px;
    border: 2px solid var(--light-blue);
    position: relative;
    right: 3px;
}

/* ------------------------------------------ */
/* Information section styling */
/* ------------------------------------------ */

.information {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.information__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 0.7em;
    border-radius: 20px;
    border: 1px solid var(--dark-grey-bg);
    width: 20px;
    height: 20px;
}

.information__text {
    margin: 0;
    padding-left: 15px;

}

/* ------------------------------------------ */
/* Accomodations article styling */
/* ------------------------------------------ */

.accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* ------------------------------------------ */
/* Accomodations__location section styling */
/* ------------------------------------------ */

.accomodations__location {
    /* width: 60%; */
    background: var(--grey-bg);
    border-radius: 20px;
    padding: 40px;
    margin-top: 30px;
}

.accomodations__location h1 {
    margin: 0;
    font-size: 1.4em;
}

.accomodations__location__cards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 25px;
    /* display: flex;
    justify-content: space-between;
    flex-wrap:wrap; */
}

.accomodations__location__card {
    border: 4px solid white;
    border-radius: 20px;
    background: white;
    width: 240px;
    box-shadow: var(--dark-grey-bg) 0px 8px 24px;
}


.accomodations__location__card__img {
    width:100%;
    height: 110px;
    background-size: cover;
    background-position: center; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.accomodations__img--1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.accomodations__img--2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.accomodations__img--3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.accomodations__img--4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.accomodations__img--5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.accomodations__img--6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.accomodations__location__card__description {
    margin: 10px 10px 5px 10px;
}

.accomodations__location__card__description h2 {
    font-size: 1em;
    margin: 0;
}

.accomodations__location__card__description p {
    margin: 8px 0;
    font-size: 0.90em;
}

.accomodations__location__stars {
    display: flex;
    justify-content: start;
}
.accomodations__location__card__description i {
    font-size: 0.75em;
    display: block;
    padding: 0 0.5px;
}

.star--blue {
    color: var(--blue);
}

.star--grey {
    color: var(--dark-grey-bg);
}

.accomodations__location__more {
    margin-top: 40px;
    display: block;
    font-weight: 700;
    padding-left: 5px;
    font-size: 1.1em;
}