@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey-bg: #F2F2F2;
    --dark-grey-bg: #cacaca;
}

body {
    margin: 0;
    
    font-family: 'Raleway', sans-serif;
    background: grey;
    /* box-sizing: border-box; */
    
}

.wrapper {
    max-width: 1152px;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

h1,h2 {
    margin: 0;
}


/* ------------------------------------------ */
/* Header styling */
/* ------------------------------------------ */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

.logo {
    width: 100px;
    height: 38px;
    padding-top: 35px;
    position: relative;
    right: 10px;
}

.logo img {
    width: 100%;
    height: 100%;
}

nav {
    width : 330px;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding-top:40px;
    font-size: 0.8em;
    
}

.nav__anchor {
    padding: 40px 20px 0 20px;
}

.nav__anchor:hover {
    color: var(--blue);
    border-top: var(--blue) 2px solid;
}

.nav__subscribe {
    color: var(--blue);
    font-weight: 700;
    padding-left: 20px;
}

main {
    margin: 40px 0 49px 0;
    padding: 0 40px;
}


/* ------------------------------------------ */
/* Location section styling */
/* ------------------------------------------ */
/* .location {
    margin-top: 40px;
} */

.location h1 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 0;
}

.location p {
    margin-top: 7px;
    font-size: 0.8em;
}

.location__search {
    display: flex;
    height: 42px;
    margin-top: 15px;
}

.location__search__icon {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    background: var(--grey-bg);
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__search__icon i {
    font-size: 0.9em;
    position: relative;
    left: 2px;
}

.location__search__input {
    border: 1px solid var(--grey-bg);
    width: 175px;
    font-size: 0.95em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px; 
}

.location__search__input:focus {
    outline: none;
}

.location__search__button {
    background: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    font-weight: 600;
    font-size: 1.1em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.location__search__button p {
    margin: 0;
}

/* ------------------------------------------ */
/* Filters section styling */
/* ------------------------------------------ */

.filters {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
}

.filters p {
    font-size: 0.95em;
    font-weight: 700;
    margin: 10px 12px 10px 5px;
}

.filters__filtres {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.filters__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-grey-bg);
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.filters__button:hover {
    color: white;
    background: var(--blue);
    border-color: var(--blue);
}

.filters__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background: var(--light-blue);
    height: 101%;
    width: 38px;
    border-radius: 60px;
    border: 2px solid var(--light-blue);
    position: relative;
    right: 3px;
}

/* ------------------------------------------ */
/* Information section styling */
/* ------------------------------------------ */

.information {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.information__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 0.6em;
    border-radius: 20px;
    border: 1px solid var(--dark-grey-bg);
    width: 18px;
    height: 18px;
}

.information__text {
    margin: 0;
    padding-left: 10px;
    font-size: 0.8em;

}

/* ------------------------------------------ */
/* Accomodations article styling */
/* ------------------------------------------ */

.accomodations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.accomodations h1 {
    font-size: 1.1em;
}

.accomodations h2 {
    font-size: 0.8em;
}

.accomodations p {
    margin: 5px 0;
    font-size: 0.7em;
}
/* ------------------------------------------ */
/* Accomodations__location section styling */
/* ------------------------------------------ */

.accomodations__location {
    box-sizing: border-box;
    width: 700px;
    /* width: min-content; */
    background: var(--grey-bg);
    border-radius: 20px;
    padding: 35px;
    /* margin-top: 30px; */
}



.accomodations__location__cards {
    /* margin-top: 20px; */
    margin: 20px auto 0 auto;
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    /* grid-template-columns: repeat(auto-fill,240px); */
    /* grid-template-rows: repeat(2,1fr); */
    

    display: flex;
    /* justify-content: space-between; */
    flex-wrap:wrap;
    gap: 25px;
}

.accomodations__location__card {
    border: 4px solid white;
    border-radius: 15px;
    background: white;
    width: 185px;
    box-shadow: var(--dark-grey-bg) 0px 8px 24px;
}


.accomodations__location__card__img {
    width:100%;
    height: 85px;
    background-size: cover;
    background-position: center; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.accomodations__img--1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.accomodations__img--2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.accomodations__img--3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.accomodations__img--4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.accomodations__img--5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.accomodations__img--6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.accomodations__location__card__description {
    margin: 8px 0 5px 8px;
}

/* .accomodations__location__card__description h2 {
    font-size: 0.8em;
    margin: 0;
} */

/* .accomodations__location__card__description p {
    margin: 5px 0;
    font-size: 0.7em;
} */

.accomodations__location__stars {
    display: flex;
    justify-content: start;
}
.accomodations__location__card__description i {
    font-size: 0.6em;
    display: block;
    padding: 0 0.5px;
}

.star--blue {
    color: var(--blue);
}

.star--grey {
    color: var(--dark-grey-bg);
}

.accomodations__location__more {
    margin-top: 30px;
    display: inline-block;
    font-weight: 700;
    /* padding-left: 5px; */
    font-size: 0.9em;
}

/* ------------------------------------------ */
/* Accomodations__popular section styling */
/* ------------------------------------------ */

.accomodations__popular {
    box-sizing: border-box;
    width: 335px;
    padding: 30px 30px 0 30px;
    background: var(--grey-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.accomodations__popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodations__popular__header i {
    font-size: 1.1em;
}

.accomodations__popular__card {
    background: white;
    /* width: 100%; */
    display: flex;
    border-radius: 15px;
    border: 4px solid white;
    box-shadow: var(--dark-grey-bg) 0px 8px 24px;
    margin: 20px 0 10px 0;

}

.accomodations__popular__img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

.accomodations__img--7 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.accomodations__img--8 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.accomodations__img--9 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.accomodations__popular__column {
    width: 130px;
    margin-left: 15px;
    padding-top: 8px;
}

.accomodations__popular__stars {
    font-size: 0.5em;
    margin-top: 28px;
}

/* ------------------------------------------ */
/* Activities article styling */
/* ------------------------------------------ */
.activities {
    border-radius: 15px;
    margin-top: 50px;
}

.activities h1 {
    font-size: 1.1em;
}

.activities h2 {
    font-size: 0.8em;
    padding: 15px 13px;
}

.activities__cards {
    display: flex;
    justify-content: center;
    /* gap: 15px; */
    flex-wrap: wrap;
    gap: 36.5px;
    margin-top: 15px;
}

.activities__cards__column {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities__card {
    border-radius: 15px;
    box-shadow: var(--dark-grey-bg) 0px 8px 24px;
    background: var(--grey-bg);
    display: block;
}

.activities__img {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}

.activities__card--1__img {
    background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 312px;
}

.activities__card--2__img {
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 145px;
}

.activities__card--3__img {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 86px;

}

.activities__card--4__img {
    background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 312px;
}

.activities__card--5__img {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 110px;
}

.activities__card--6__img {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 120px;
}

/* ------------------------------------------ */
/* Footer styling */
/* ------------------------------------------ */

footer {
    background: var(--grey-bg);
    padding: 36px 40px 70px 40px;
    display: flex;
    /* gap: 200px; */
}

footer h2 {
    font-size: .9em;
    padding-bottom: 5px;
}

footer p {
    font-size: .8em;
    line-height: 12px;
}

.footer__column {
    width: 362px;
}