@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey-bg: #F2F2F2;
    --dark-grey-bg: #cacaca;
    --darker-grey-bg: #e2e2e2;
}

body {
    margin: 0;    
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

h1,h2 {
    margin: 0;
}


/* ------------------------------------------ */
/* Header styling */
/* ------------------------------------------ */
header {
    display: flex;
    justify-content:flex-start;
    padding: 0 55px;
}

.logo {
    flex-shrink: 0;
    width: 125px;
    height: 45px;
    padding-top: 44px;
    position: relative;
    right: 15px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header__blank {
    width: 1000px;
}

nav {
    display: flex;
    flex-shrink: 0;
}

header a {
    padding-top:47px;
    font-size: 1em;
    display: block;
    flex-shrink: 0;
    
}
.nav__block1 {
    display: flex;
}
.nav__anchor {
    padding: 47px 25px 0 25px;
}

.nav__link:hover {
    color: var(--blue);
    border-top: var(--blue) 2px solid;
}

.nav__link:hover > .nav__anchor{
    color: var(--blue);
}

.nav__subscribe {
    color: var(--blue);
    font-weight: 700;
    padding-left: 25px;
    padding-right: 30px;
}

main {
    margin: 37px 0 61px 0;
    padding: 0 50px;
}


/* ------------------------------------------ */
/* Location section styling */
/* ------------------------------------------ */
.location {
    margin-left: 5px;
}

.location h1 {
    font-size: 1.365em;
    font-weight: 700;
    margin: 0;
}

.location p {
    margin-top: 8px;
    font-size: 1em;
}

.location__search {
    display: flex;
    height: 52.5px;
    margin-top: 19px;
}

.location__search__icon {
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    height: 100%;
    background: var(--grey-bg);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__search__icon i {
    font-size: 1.1em;
    position: relative;
}

.location__search__input {
    border: 1px solid var(--grey-bg);
    width: 210px;
    font-size: 1.1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-left: 20px; 
}

.location__search__input:focus {
    outline: none;
}

.location__search__button {
    background: var(--blue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    font-weight: 600;
    font-size: 1.1em;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    cursor: pointer;
}

.location__search__button p {
    margin: 0;
}

.location__search__button i {
    display: none;
}

/* ------------------------------------------ */
/* Filters section styling */
/* ------------------------------------------ */

.filters {
    display: flex;
    margin-top: 19px;
    margin-left: 5px;
    flex-wrap: wrap;
}

.filters p {
    font-size: 1.1em;
    font-weight: 700;
    margin: 12.5px 15px 12.5px 6px;
}

.filters__filtres {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12.5px 3px 12.5px 3px;
}

.filters__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2.5px solid var(--darker-grey-bg);
    border-radius: 75px;
    margin: 12.5px;
    cursor: pointer;
    padding-right: 7px;
}

.filters__button:hover {
    color: white;
    background: var(--blue);
    border-color: var(--blue);
}

.filters__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    background: var(--light-blue);
    height: 101%;
    width: 47.5px;
    border-radius: 75px;
    border: 2.5px solid var(--light-blue);
    position: relative;
    right: 4px;
}

/* ------------------------------------------ */
/* Information section styling */
/* ------------------------------------------ */

.information {
    display: flex;
    margin-top: 25px;
    margin-left: 10px;
    align-items: center;
}

.information__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 0.75em;
    border-radius: 25px;
    border: 1px solid var(--dark-grey-bg);
    width: 22.5px;
    height: 22.5px;
}

.information__text {
    margin: 0;
    padding-left: 12.5px;
    font-size: 1em;

}

/* ------------------------------------------ */
/* Accomodations article styling */
/* ------------------------------------------ */

.accomodations {
    display: flex;
    gap: 37.5px;
    justify-content: space-between;
}

.accomodations h1 {
    font-size: 1.37em;
}

.accomodations h2 {
    font-size: 1em;
}

.accomodations p {
    margin: 6px 0;
    font-size: 0.9em;
}
/* ------------------------------------------ */
/* Accomodations__location section styling */
/* ------------------------------------------ */

.accomodations__location {
    box-sizing: border-box;
    flex-shrink: 3;
    max-width: 900px;
    background: var(--grey-bg);
    border-radius: 25px;
    padding: 44px 40.5px;
    margin-top: 37.5px;
}



.accomodations__location__cards {
    margin: 25px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 31px;
}

.accomodations__location__card {
    border: 5px solid white;
    border-radius: 19px;
    background: white;
    width: 236.5px;
    box-shadow: var(--dark-grey-bg) 0px 5px 10px;
}


.accomodations__location__card__img {
    width:100%;
    height: 106px;
    background-size: cover;
    background-position: center; 
    border-top-right-radius: 12.5px;
    border-top-left-radius: 12.5px;
}

.accomodations__img--1 {
    background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

.accomodations__img--2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

.accomodations__img--3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

.accomodations__img--4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

.accomodations__img--5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

.accomodations__img--6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

.accomodations__location__card__description {
    margin: 10px 0 6px 10px;
}

.accomodations__location__stars {
    display: flex;
    justify-content: start;
}
.accomodations__location__card__description i {
    font-size: 0.75em;
    display: block;
    padding: 0 0.6px;
}

.star--blue {
    color: var(--blue);
}

.star--grey {
    color: var(--dark-grey-bg);
}

.accomodations__location__more {
    margin-top: 37.5px;
    display: inline-block;
    font-weight: 700;
    font-size: 1.13em;
    margin-left: 3px;
}

/* ------------------------------------------ */
/* Accomodations__popular section styling */
/* ------------------------------------------ */

.accomodations__popular {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 418px;
    padding: 37.5px;
    background: var(--grey-bg);
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    margin-top: 37.5px;
}

.accomodations__popular__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accomodations__popular__header i {
    font-size: 1.4em;
}

.accomodations__popular__card {
    background: white;
    display: flex;
    border-radius: 19px;
    border: 5px solid white;
    box-shadow: var(--dark-grey-bg) 0px 5px 10px;
    margin: 25px 0 12.5px 0;

}

.accomodations__popular__img {
    border-top-left-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    width: 127px;
    height: 125px;
    background-size: cover;
    background-position: center;
}

.accomodations__img--7 {
    background-image: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

.accomodations__img--8 {
    background-image: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

.accomodations__img--9 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

.accomodations__popular__column {
    width: 162.5px;
    margin-left: 19px;
    padding-top: 10px;
}

.accomodations__popular__stars {
    font-size: 0.7em;
    margin-top: 35px;
    letter-spacing: 0;
    display: flex;
    gap: 1px;
}

/* ------------------------------------------ */
/* Activities article styling */
/* ------------------------------------------ */
.activities {
    border-radius: 19px;
    margin-top: 62.5px;
}

.activities h1 {
    font-size: 1.37em;
}

.activities h2 {
    font-size: 1em;
    padding: 19px 19px;
}

.activities__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 43px;
    margin-top: 23px;
}

.activities__cards__column {
    width: 302px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities__card {
    border-radius: 19px;
    box-shadow: var(--dark-grey-bg) 0px 5px 10px;
    background: var(--grey-bg);
    display: block;
    
}

.activities__img {
    background-size: cover;
    background-position: center;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    width: 100%;
}

.activities__card--1__img {
    background-image: url("./images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 390px;
}

.activities__card--2__img {
    background-image: url("./images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 181px;
}

.activities__card--3__img {
    background-image: url("./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 107.5px;

}

.activities__card--4__img {
    background-image: url("./images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 390px;
}

.activities__card--5__img {
    background-image: url("./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 137.5px;
}

.activities__card--6__img {
    background-image: url("./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 150px;
}

/* ------------------------------------------ */
/* Footer styling */
/* ------------------------------------------ */

footer {
    background: var(--grey-bg);
    padding: 45px 50px 87.5px 50px;
    display: flex;
}

footer h2 {
    font-size: 1.1em;
    padding-bottom: 15px;
}

footer a {
    display: block;
    font-size: 1em;
    line-height: 15px;
    padding: 7.5px 0;
}

.footer__column {
    width: 470px;
}

@media screen and (max-width:1440px) {
    .accomodations__location__card {
        width: 45%;
        min-width: 231px;
        max-width: 462.5px;
    }
}

@media screen and (max-width: 1165px) {
    .accomodations__location__card {
        width: 90%;
    }

    .activities__cards__column {
        gap: 43px;
    }

    footer {
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        padding-bottom: 30px;
    }

    .footer__column {
        width: 300px;
    }
}

@media screen and (max-width: 1060px) {
    
    .filters__filtres {
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 0;
    }

    .filters__button {
        margin: 6px 6px;
    }
}

@media screen and (max-width: 925px) {
    .accomodations {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .accomodations__location {
        width: 419px;
    }

    .accomodations__location__cards {
        gap: 15px;
    }

    .accomodations__popular {
        padding-bottom: 25px;
    }

    .accomodations__popular__header {
        margin-bottom: 25px;
    }
    .accomodations__popular__card {
        margin: 5px 0; 
    }

    .accomodations__popular__img {
        height:137.5px; 
    }

    .accomodations__popular__stars {
        margin-top: 50px;
        font-size: .7em;
    }

}

@media screen and (max-width: 650px) {
    header {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .logo {
        padding-top: 24px;
    }

    .header__blank {
        display: none;
    }
    
    nav {
        order: 4;
        width: 100%;
    }

    .nav__link {
        display: flex;
        justify-content: center;
        width: 50%;
        border-bottom: 4px solid var(--grey-bg);
    }

    .nav__link:hover {
        border-top: none;
        border-bottom: 4px solid var(--blue);
        color: var(--blue);
    }

    .nav__link:hover a{
        color: var(--blue);
    }

    .nav__anchor {
        padding: 25px 0 15px 0;
    }

    .nav__subscribe {
        padding-top: 39px;
    }
}

@media screen and (max-width: 525px) {
    
    header {
        padding: 0;
    }

    main {
        padding: 0;
        margin-bottom: 50px;
        margin-top: 30px;
    }
    
    .logo {
        right: -10px;
    }

    .location {
        margin: 0 20px;
    }

    .location p {
        margin-top: 13px;
    }

    .location__search {
        margin-top: 35px;
    }

    .location__search__input {
        width: 225px;
    }

    .location__search__button {
        width: 50px;
        border-radius: 15px;
        position: relative;
        right: 15px;
    }

    .location__search__button p {
        display: none;
    }

    .location__search__button i {
        display: block;
        color: white;
    }

    .filters {
        margin-left: 15px;
    }

    .filters__filtres {
        margin-left: 5px;
    }

    .filters__button {
        padding-right: 0;
    }

    .filters__button p {
        font-size: 1em;
    }

    .information {
        margin-left: 20px;
        align-items: flex-start;
    }

    .information__icon {
        flex-shrink: 0;
    }

    .accomodations {
        gap: 0;
    }

    .accomodations__popular {
        border-radius: 0;
        width: 100%;
        padding: 37.5px 20px 35px 20px;
    }

    .accomodations__location {
        width: 100%;
        margin-top: 0;
        background: white;
        padding: 37.5px 20px;
    }

    .accomodations__location__card {
        box-sizing: border-box;
        width: 100%;
        max-width: none;
    }

    .accomodations__location__card__img {
        height: 112.5px;
    }

    .accomodations__location__more {
        padding-left: 0;
    }

    .activities {
        margin: 15px 20px 10px 20px;
    }

    .activities__cards {
        gap: 25px;
    }

    .activities__cards__column {
        width: 100%;
        gap: 25px;
    }

    .activities__img {
        height: 130px;
        background-position-y: 25%;
    }

    .activities__card--2__img {
        background-position: center;
    }
}

